/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a.navbar-brand {
  font-size: 28px;
}

@import "~@angular/material/theming";

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300,400,500");

@include mat-core();

$my-theme-primary: mat-palette($mat-deep-orange);
$my-theme-accent: mat-palette($mat-amber, A200, A100, A400);
$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent);
$my-typography: mat-typography-config(
  $font-family: '"IBM Plex Sans Condensed"',
);

.my-theme {
  @include angular-material-theme($my-theme);
  .mat-typography & {
    font-size: mat-font-size($my-typography, body-1);
    font-family: mat-font-family($my-typography, body-1);
    line-height: mat-line-height($my-typography, body-1);

    h1,
    h2,
    h3 {
      font-family: mat-font-family($my-typography, body-1);
    }
  }
}
